<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>@intocode-io/fireliff-cli</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
  <script src="https://d.line-scdn.net/liff/1.0/sdk.js"></script>
</head>

<body>
  <div id="message">
    <h2>Hello, this is not for browser to access :)</h2>
    <p>
      Feel free to remove generated index files.
    </p>
    <ul>
      <li><code>index.html</code></li>
      <li><code>index.js</code></li>
      <li><code>index.css</code></li>
    </ul>
    <p>
      These are intended to be used as an example of how to start building a LIFF web view.
    </p>
    <hr />
    <h1>FireLIFF CLI</h1>
  </div>
  <script src="index.js"></script>
</body>

</html>